

.Box {
  display: flex;
  flex-direction: column;
  height: 100%;
  
}

.Header {
  height: 64px;
}
.Content {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.SideLeft {
  border-right: 2px solid #424549;
  width: 200px;
  background: #7289DA;
  
}

.SideRight {
  padding: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #36393E;
  
}
  
 .DialogBox {
  flex: 1;
  margin-top: 20px;
 }
  


 .MessageInputBox {
  
  color: #d3d3d3;
  background: #36393E;
  justify-content: center;
  display: flex;
 }

 .PageHeader {
     font-weight: bold;
     color: #d3d3d3;
     display: flex;
     flex-direction: row;
    margin-left: 10px;
    letter-spacing: 2px;
    font-size: 1.5rem;
    }

.TextArea {
       display: inline-block;
      color: #fff;
      background: #424549;

}

.button {
   display: inline-block;
   background: #7289DA;
}
    
.title{
  text-align: center;
  font-weight: bold;
     color: #d3d3d3;
     font-size: 1.5rem;
    text-decoration: underline;
    margin-top: 5px;
}
